/* Questo file contiene gli stili grafici generali del sito */
/*va finito*/
/*Body*/
body {
    background-color: rgb(128,35,50);
  }
/*Titolo*/
  h1 {
      color: white;
      text-align: center;
      font-family: arial;
      font-size: 120%;
      background-color: white;
      width: 50%;
      margin: 0 auto;
  }
h2 {
      color: black;
      text-align: center;
      font-family: serif;
      font-size: 150%;
      background-color: white;
      width: 50%;
      margin: 0 auto;
  }
/*Sottotitoli*/
h3 {
    color: black;
    text-align: left;;
    font-family: serif;
    font-size: 110%;
    background-color: white;
    margin: 0 auto;
    }

/*riquadro bianco entro il quale mettere il testo*/
div {

      background-color: white;
      width: 80%;
      margin: 0 auto;
    }


/*Paragrafi*/
p1 {
    text-align: center;
    font-family: arial;
    font-size: 80%;
    color:white;
}
p2 {

    text-align:justify;
    font-family: arial;
    font-size: 80%;
    color:black;
}
p3{
  font-style: oblique;
  font-weight: bold;
}
/*celle di tabella*/
td {
    text-align:left;
    font-family: arial;
    font-size: 100%;
    color:white;
}

/* Link */
a:link {
    color: red;
}

/* Se il link è già stato visitato */
a:visited {
    color: rgb(128,35,50);
}

/* al passaggio del mouse */
a:hover {
    color: rgb(128,35,50);
}

/* Alla selezione, click del mouse */
a:active {
    color: blue;
}
