/* Questo file contiene gli stili grafici generali del sito */
/*va finito*/
/*Body*/
body {
    background-color: rgb(128,35,50);
  }
/*Titolo*/
  h1 {
    color: black;
    text-align: center;
    font: bold 25px/100px Georgia, Serif;
    font-size: 150%;
    width: 50%;
  }
  h2 {
      color: black;
      text-align: center;
      font: bold 25px/100px Georgia, Serif;
      font-size: 150%;
      width: 50%;
      margin: 0 auto;
  }
/*Sottotitoli*/
  h3 {
    color: black;
  	font: Arial, Helvetica;
    font-size: 110%;
    margin: 0 auto;
    }

/*riquadro bianco*/
div {
      background-color: white;
      width: 80%;
      margin: 0 auto;
    }

/*Paragrafi*/
p1 {
    text-align: left justify;
    font: Arial, Helvetica;
    font-size: 100%;
    color:black;
}
p2 {
    text-align: left justify;
    font: Arial, Helvetica;
    font-size:90%;
    color:black;
  }
p3{

  font-weight: bold;
}
/*celle di tabella*/
td {
    text-align:left;
    font-family: arial;
    font-size: 100%;
    color:white;
}

/* Link */
a:link {
    color: red;
}

/* Se il link è già stato visitato */
a:visited {
    color: rgb(128,35,50);
}

/* al passaggio del mouse */
a:hover {
    color: rgb(128,35,50);
}

/* Alla selezione, click del mouse */
a:active {
    color: blue;
}
